@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Rock Salt', cursive;
}

h2 {
  ont-family: 'Open Sans', sans-serif;
}

/* headerSection */
.sectionTitle {
  text-align: center;
  margin-top: 8rem;
  position: relative;
  padding-top: 2rem
}

/* .header-bg {
  background-image: url(./../images/index/header-3.jpg);
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 400px;
  background-repeat: no-repeat;
} */
.sectionLink {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.headerImage {
  height: 400px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px
}

.arrawIcon {
  padding-top: 1rem;
  text-align: center;
  color: #AAAAAA;
}

.fa-angle-double-down {
  color: #AAAAAA;
}

/* noticeSection */
.noticeSection {
  background-color: #f5f5f5;
  padding-bottom: 1rem;
}

.noticeTable {
  text-align: center;
}

.table {
  width: 100%;
}

/* poem section */
.poemTitle {
  margin-top: 8rem;
  text-align: center;
  padding-bottom: 1rem;
}

.poemArea {
  /* padding-left: 10%; */
}

.poemText {
  text-align: center;
  line-height: 3rem;
  margin-bottom: 8rem;
}

/* out concept section */
.ourConceptSection {
  margin-top: 4rem;
  padding-bottom: 2rem;
  background-color: #f5f5f5;
}

.ourConceptContent {
  text-align: center;
}

.ourConceptText {}

@media screen and (max-width: 990px) {
  .headerSection {
    position: relative;
    margin: 0 auto
  }

  .headerImage {
    width: 100%;
    /* height: 75%; */
    object-fit: cover;
  }

  .header-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url(./../images/index/header-3.jpg);
    background-size: cover;
    background-position: right;
    height: 100%;
    background-repeat: no-repeat;
    position: relative
  }

  .fas {
    font-size: 2rem;
  }

  .sectionTitle {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 991px) {
  .headerImage {
    width: 100%;
    /* height: 75%; */
    object-fit: cover;
  }

  .fas {
    font-size: 3rem;
  }

  .sectionTitle {
    margin-top: 8rem;
  }
}

.footerBackground {
  width: 100%;
  height: 8rem;
  background-color: #BBBBBB;
}

.footerlist {
  display: inline;
}

.footerlist a {
  color: #222222;
}
