@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
}

h1 {
  font-family: 'Rock Salt', cursive;
}

h2 {
  font-family: 'Rock Salt', cursive;
}

/* headerSection */
.sectionTitle {
  text-align: center;
  margin-top: 8rem;
}

.header-bg {
  background-image: url(./../images/index/header-3.jpg);
  background-size: cover;
  background-position: center center;
  width: auto;
  height: 400px;
  background-repeat: no-repeat;
}

.headerImage {
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* noticeSection */
.noticeSection{
  background-color: #CCCCCC;
  padding-bottom: 1rem;
}
.noticeTable {
  text-align: center;
}

.table {
  width: 100%;
}

/* out concept section */
.ourConceptContent {
  text-align: center;
}

.ourConceptText {}

@media screen and (max-width: 990px) {
  .headerImage {
    width: 100%;
    /* height: 75%; */
    object-fit: cover;
  }

  .fas {
    font-size: 2rem;
  }

  .sectionTitle {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 991px) {
  .headerImage {
    width: 100%;
    /* height: 75%; */
    object-fit: cover;
  }

  .fas {
    font-size: 4rem;
  }

  .sectionTitle {
    margin-top: 8rem;
  }
}

.footerBackground {
  width: 100%;
  height: 8rem;
  background-color: #BBBBBB;
}

li {
  display: inline;
}

li a {
  color: #222222;
}
