@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;900&display=swap');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

:root {
  --main-bg-color: #dcd6f7;
  --sub-bg-color: #f4eeff;
  --main-accent-color: #424874;
  --sub-accent-color: #a6b1e1;
}

strong {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}

/* headerSection */
.sectionTitle {
  text-align: center;
  margin-top: 8rem;
  position: relative;
  padding-top: 2rem;
}

.headerImage {
  /* background-color: rgba(0, 0, 0, 0.5); */
  height: 400px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
}

.arrawIcon {
  padding-top: 1rem;
  text-align: center;
  color: #AAAAAA;
}

/* noticeSection */
.noticeSection {
  padding-bottom: 1rem;
  margin: 10%;
  background-color: var(--sub-bg-color);
}

.noticeTable {
  text-align: left;
  margin: 2rem;
}
.noticeDate{
  font-size: 0.8rem;
  color: gray;
}


/* blog information section */
.blog {
  color: #212529;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: var(--sub-accent-color);
}

.blog:active {
  text-decoration: none;
  color: var(--main-accent-color);
}

.blogType {
  background-color: var(--main-accent-color);
  color: white;
  height: 3rem;
  width: 3rem;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: -webkit-flex;
  align-items: center;
  border-radius: 0.2rem 0px 0px 0px / 0.2rem 0px 0px 0px;
  position: absolute;
  top: 3rem;
}

.blogPostDate {
  font-size: 1rem;
}

.blogPostTitle {
  font-size: 1.25rem;
}

.learnMoreBtn {
  text-align: center;
  margin-top: 3rem;
}

/* お役立ち情報 */
.topics {
  background-color: var(--sub-bg-color);
  padding-bottom: 3rem;
}

/* スマホ・タブレット */
@media screen and (max-width: 990px) {
  .headerSection {
    position: relative;
    margin: 0 auto;
  }

  .headerImage {
    width: 100%;
    object-fit: cover;
  }

  .header-bg {
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url(./images/index/header-3.jpg);
    background-size: cover;
    background-position: right;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
  }

  .headerMessage {
    vertical-align: middle;
    background-color: var(--main-accent-color);
    color: white;
    padding: 16px;
    margin: 16px;
    position: relative;
    top: -178;
    margin-bottom: -150;
    /* width: 100%; */
    /*相殺*/
  }

  .arrawIcon {
    position: relative;
    top: -180;
    color: #FFF;
  }

  .fa-angle-double-down {
    color: #FFF;
  }

  .fas {
    font-size: 2rem;
  }

  .sectionTitle {
    margin-top: 4rem;
  }


  .footerPageMenu li {
    /* display: inline; */
    padding: 0.25rem 0.5rem;
    list-style:none;
  }
}

/* PC版 */
@media screen and (min-width: 991px) {
  .headerSection {
    position: relative;
    margin: 0 auto;
    /* background-color: #848202; */
  }

  .headerImage {
    width: 100%;
    /* height: 75%; */
    object-fit: cover;
  }

  .header-bg {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url(./images/index/header-3.jpg);
    /* background-size: cover; */
    background-position: right;
    height: 100%;
    background-repeat: no-repeat;
  }

  .headerMessage {
    display: inline-block;
    vertical-align: middle;
    background-color: var(--main-accent-color);
    color: white;
    /* height: 40%; */
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 35%;
    /*文字の幅によって変える*/
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
  }

  .fa-angle-double-down {
    color: #AAAAAA;
  }

  .arrawIcon {
    position: relative;
    top: -120;
    color: #999;
  }

  .fas {
    font-size: 3rem;
  }

  .sectionTitle {
    margin-top: 8rem;
  }

  .footerPageMenu li {
    display: inline;
    padding: 0px 0.5rem;
  }
}

/* loading */
.card-title.info {
  margin-top: 32px;
}

.bg-primary {
  background-color: #ffd32d !important;
}

.coursel1-btn {
  color: white
}

/* .nav-link {
  color: #222222;
} */

/* #navbarSupportedContent>ul>li:nth-child(7)>a {
  color: black;
}

#navbarSupportedContent>ul>li>a {
  color: #444444;
} */
/* .nav-item a {
  color: #444444;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: white;
  background: #E3B505;
} */
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0!important;
}


.breadcrumb a {
  color: var(--main-accent-color);
}

.headerLink {
  color: #212529;
}



.alert01 {
  margin: 16px;
}


/* #pills-tab {
  padding: 36px 0px;
}

#pills-home-tab {
  font-size: 1rem;
  display: initial;
}

#pills-profile-tab {
  font-size: 1rem;
  display: initial;
} */
.bi-exclamation-triangle-fill {
  margin-right: 8px;
  padding-bottom: 2px;
}

.image-center {
  text-align: center;
}

/* .information {
  padding: 36px 0px;
  background-color: #ffefc0;
} */
/* .informationTitle {
  font-size: 1.5rem;
  padding: 8px;
  text-align: center;
  font-family: 'Kosugi Maru', sans-serif;
} */
/* .informationTab {
  text-align: center;
  padding-left: unset;
}

.otherContent {
  padding-top: 36px;
} */
.listcontentItem {
  display: flex;
  justify-content: space-between;
}

.listContent {
  padding: 16px;
}

.rounded-pill {
  background-color: #ffffff;
  margin: 16px;
}

/* .eventInfo {
  margin: 8px;
} */
/* 田中さんの記事 */
.media {
  margin: 8px 4px;
}

.jumbotron {
  margin-bottom: 0px;
}

.autherSNS {
  display: block;
  font-size: 1.5rem;
}

.autherSNS a {
  color: gray;
}

.copyright {
  text-align: center;
  padding-top: 8px;
}

@media screen and (max-width: 480px) {}

@media screen and (min-width: 481px) {
  .card {
    /* width: 45%; */
  }
}

.titleSection {
  text-align: center;
}

.conceptTitle {
  font-size: 1.5rem;
  font-weight: 900;
}

.conceptNumber {
  font-size: 1.4rem;
}

.conceptSubtitle {
  font-size: 1.4rem;
}

.detailButton {
  text-align: center;
}

/* out concept section */
.ourConceptSection {
  margin-top: 4rem;
  padding-bottom: 8rem;
  background-color: var(--sub-bg-color);
}

.ourConceptContent {
  text-align: center;
}

.ourConceptText {}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -500px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav .inner {
  padding: 25px;
}

nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner ul li a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  nav {
    left: -400px;
    width: 80%;
  }
}

/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 16px;
  left: 16px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.open .toggle_btn {
  left: 330px;
}

.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}

.toggle_btn span:nth-child(1) {
  top: 4px;
}

.toggle_btn span:nth-child(2) {
  top: 14px;
}

.toggle_btn span:nth-child(3) {
  bottom: 4px;
}

.open .toggle_btn span {
  background-color: #fff;
}

.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
  width: 16px;
}

.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(-1px, 4px) rotate(-45deg);
  transform: translate(-1px, 4px) rotate(-45deg);
}

.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-1px, -4px) rotate(45deg);
  transform: translate(-1px, -4px) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .open .toggle_btn {
    left: 85%;
  }
}

/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}

.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}


/* フッター */
.footerContent {
  text-align: center;
  background-color: #430F58;
  color: white;
  padding: 2rem 1rem 16px 16px;
  font-size: 0.8rem;
  margin-top: 3rem;
}

.footerPageMenu ul {
  padding-left: 0;
}

.footerPageMenu li a {
  color: white;
}

.footerLanguage ul {
  padding-left: 0;
}

.footerLanguage li {
  display: inline-block;
  padding: 0px 2rem;
  /* text-align: left; */
}

.footerLanguage li a {
  color: white;
}

.otherLang {
  font-size: 0.5rem;
}

.footerCR {
  background-color: #290039;
  color: white;
  text-align: center;
  height: 3rem;
  display: table;
  width: 100%;
}

.cr {
  display: table-cell;
  vertical-align: middle;
}

/* 上に戻るボタン */
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: -50px;
  bottom: 16px;
  background: var(--main-accent-color);
  opacity: 1;
  border-radius: 50%;
  z-index: 99;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -13px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/* article */
.articleSpaceer{
  height: 2.25rem;
}
.articleCard{

}
.spridArticleHeaderInfo{
  color: rgba(0, 0, 0, 0.1);
}
.aticlePostDate{
  /* margin-left: 8px; */
}
.aticlePostType{
  margin-left: 8px;
}
